@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #141414;
  font-family: "Playfair Display", sans-serif;
  font-size: 45px;
  line-height: 1.3;
}

h3 {
  font-size: 15px;
  color: #5c8692;
}

p {
  font-size: 18px;
  line-height: 1.7;
  color: #555555;
}

a {
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 17px;
  color: #141414;
}
a:focus, a:active {
  outline: none;
}

ul {
  list-style: none;
}

button {
  display: inline-block;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: 13px;
  color: #ffffff;
}

.container {
  min-width: 1200px;
  margin: 0 auto;
}

.large-container {
  min-width: 1380px;
  margin: 0 auto;
}