@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import 'vars';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, **::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: $manrope;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $black;
    font-family: $playfair;
    font-size: 45px;
    line-height: 1.3;
}

h2 {
    letter-spacing: 0.45px;
}

h3 {
    font-size: 26px;
    line-height: 1.4;
    font-family: $manrope;
}

h4 {
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0.264px;
}

h5 {
    font-size: 21px;
    line-height: 1.57px;
}

p {
    font-family: $manrope;
    font-size: 18px;
    line-height: 1.7;
    color: $gray;
}

a {
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 17px;
    color: $black;
    &:focus, &:active {
        outline: none;
    }
}

ul {
    list-style: none;
}

button {
    display: inline-block;
    transition: all 0.35s ease-in-out;
    border: none;
    cursor: pointer;
    background: transparent;
    font-size: 13px;
    color: #ffffff;
}

.btn{
    background-color: $blue;
    letter-spacing: 1.56px;
    padding: 18px 32px 19px 32px;
    text-transform: uppercase;
    &-light {
        color: $black;
        background: transparent;
        border: 2px solid $blue;
        &:hover {
            color: #ffffff;
            background-color: $blue;
        }
    }
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.large-container {
    min-width: 1380px;
    margin: 0 auto;
}

.subtitle {
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: $blue;
}
