@import 'global';
@import 'vars';

.header {
    &-wrapper {
        padding: 20px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_left {
            display: flex;
            gap: 34px;
            align-items: center;
        }
        &_right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }
    }
    &-call {
        display: flex;
        align-items: center;
        gap: 11px;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-menu {
        display: flex;
        gap: 38px;
        margin-right: 42px;
    }
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-right: 30px;
    &-item:first-child {
        margin-top: 5px;
    }
}

.header-btn {
    padding: 19px 30px 19px 58px;
    letter-spacing: 1.4px;
    height: 59px;
    width: 201px;
    position: relative;
    font-size: 14px;
    &::before {
        content: '';
        position: absolute;
        top: 20px;
        left: 30px;
        background-image: url(../assets/icon/calendar.svg);
        width: 18px;
        height: 18px;
    }
}

.hero {
    background-color: $blue-light;
    padding: 120px;
    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-info {
        &_subtitle {
            display: flex;
            align-items: center;
            gap: 6px;
            margin-bottom: 4px;
        }
        &_title {
            font-size: 55px;
            max-width: 396px;
            letter-spacing: 0.66px;
            margin-bottom: 19px;
        }
        &_text {
            line-height: 1.6;
            font-size: 19px;
            max-width: 483px;
            margin-bottom: 26px;
        }
    }
    &-pic {
        position: relative;
        padding: 50px 72px 50px 0;
        z-index: 5;
        filter: drop-shadow(1px 0 18px rgba(0, 0, 0, 0.2));
    }
    &-rect {
        border: 10px solid $blue;
        width: 592px;
        height: 645px;
        position: absolute;
        top: 0;
        left: 30px;
        z-index: -1;
    }
}

.blog {
    padding: 100px 120px;
    &-items {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    &-item {
        &_img {
            margin-bottom: 16px;
        }
        &_title {
            letter-spacing: 0.312px;
            margin-bottom: 13px;
            font-family: $playfair;
        }
        &_text {
            letter-spacing: 0.36px;
            margin-bottom: 17px;
            max-width: 369px;
        }
        &_btn {
            padding: 16px 30px 17px 30px;
            margin-bottom: 21px;
        }
    }
}

.benefits {
    background-color: $blue-light;
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 85px;
        padding: 105px 0 120px 0;
    }
    &-info {
        max-width: 595px;
        &_title {
            max-width: 519px;
            letter-spacing: 0.45px;
            margin-bottom: 14px;
        }
        &_text {
            margin-bottom: 61px;
        }
    }
    &-items {
        display: flex;
        justify-content: space-between;
        gap: 12px;
    }
    &-item {
        border: 2px solid $black-total;
        background-color: #fff;
        padding: 20px 52px;
        display: flex;
        align-items: center;
        flex-direction: column;
        &_title {
            text-align: center;
            margin-top: 12px;
        }
    }
    &-pic {
        position: relative;
        &_ben1 {
            position: absolute;
            top: -35px;
            left: 35px;
            z-index: 5;
        }
        &_ben2 {
            filter: drop-shadow(1px 0px 18px rgba(0, 0, 0, 0.2));
        }
    }
}

.services {
    &-wrapper {
        padding: 99px 0;
    }
    &-subtitle {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        &_title {
            max-width: 580px;
            margin: 4px 0 70px;
        }
    }
    &-info {
        display: flex;
        justify-content: space-between;
        &_items {
            min-width: 600px;
            &-left {
                margin-top: 61px;
            }
        }
        &_item {
            &:last-child {
                margin-top: 51px;
            }
            &-left {
                margin-left: 60px;
            }
            &-right {
                margin-right: 60px;
            }
            &-service {
                display: flex;
                justify-content: space-between;
                border-bottom: 3px solid $black;
                margin-bottom: 7px;
                &_info::after {
                    content: '';
                    display: block;
                    height: 1px;
                    background: #134134;
                    margin: 16px 0 12px;
                }
            }
            &-prices {
                display: flex;
                align-items: center;
                flex-direction: row;
                gap: 10px;
            }
            &_btn {
                padding: 32px 18px 32px 19px;
            }
        }
    }
}

.square {
    position: relative;
    &-left {
        position: inherit;
        top: 21px;
        left: -46px;
    }
    &-right {
        position: inherit;
        top: 0;
        left: 510px;
    }
}