@import 'global';
@import 'vars';

.header {
    &-wrapper {
        padding: 20px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_left {
            display: flex;
            gap: 34px;
            align-items: center;
        }
        &_right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }
    }
    &-call {
        display: flex;
        align-items: center;
        gap: 11px;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-menu {
        display: flex;
        gap: 38px;
        margin-right: 42px;
    }
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-right: 30px;
    &-item:first-child {
        margin-top: 5px;
    }
}

.header-btn {
    padding: 19px 30px 19px 58px;
    letter-spacing: 1.4px;
    height: 59px;
    width: 201px;
    position: relative;
    font-size: 14px;
    &::before {
        content: '';
        position: absolute;
        top: 20px;
        left: 30px;
        background-image: url(../assets/icon/calendar.svg);
        width: 18px;
        height: 18px;
    }
}

.hero {
    background-color: $blue-light;
    padding: 120px;
    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-info {
        &_subtitle {
            display: flex;
            align-items: center;
            gap: 6px;
            margin-bottom: 4px;
        }
        &_title {
            font-size: 55px;
            max-width: 396px;
            letter-spacing: 0.66px;
            margin-bottom: 19px;
        }
        &_text {
            line-height: 1.6;
            font-size: 19px;
            max-width: 483px;
            margin-bottom: 26px;
        }
    }
    &-pic {
        position: relative;
        padding: 50px 72px 50px 0;
        z-index: 5;
        filter: drop-shadow(1px 0 18px rgba(0, 0, 0, 0.2));
    }
    &-rect {
        border: 10px solid $blue;
        width: 592px;
        height: 645px;
        position: absolute;
        top: 0;
        left: 30px;
        z-index: -1;
    }
}

.blog {
    padding: 100px 120px;
    &-items {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    &-item {
        &_img {
            margin-bottom: 16px;
        }
        &_title {
            letter-spacing: 0.312px;
            margin-bottom: 13px;
            font-family: $playfair;
        }
        &_text {
            letter-spacing: 0.36px;
            margin-bottom: 17px;
            max-width: 369px;
        }
        &_btn {
            padding: 16px 30px 17px 30px;
            margin-bottom: 21px;
        }
    }
}

.benefits {
    background-color: $blue-light;
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 85px;
        padding: 105px 0 120px 0;
    }
    &-info {
        max-width: 595px;
        &_title {
            max-width: 519px;
            letter-spacing: 0.45px;
            margin-bottom: 14px;
        }
        &_text {
            margin-bottom: 61px;
        }
    }
    &-items {
        display: flex;
        justify-content: space-between;
        gap: 12px;
    }
    &-item {
        border: 2px solid $blue-dark;
        background-color: #fff;
        padding: 20px 52px;
        display: flex;
        align-items: center;
        flex-direction: column;
        &_title {
            text-align: center;
            margin-top: 12px;
        }
    }
    &-pic {
        position: relative;
        &_ben1 {
            position: absolute;
            top: -35px;
            left: 35px;
            z-index: 5;
        }
        &_ben2 {
            filter: drop-shadow(1px 0px 18px rgba(0, 0, 0, 0.2));
        }
    }
}

.services {
    &-wrapper {
        padding: 99px 0;
    }
    &-subtitle {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        &_title {
            max-width: 580px;
            margin: 4px 0 70px;
        }
    }
    &-info {
        display: flex;
        justify-content: space-between;
        &_items {
            min-width: 600px;
            &-left {
                margin-top: 61px;
            }
        }
        &_item {
            &:last-child {
                margin-top: 51px;
            }
            &-left {
                margin-left: 60px;
            }
            &-right {
                margin-right: 60px;
            }
            &-service {
                display: flex;
                justify-content: space-between;
                border-bottom: 3px solid $black;
                margin-bottom: 7px;
                &_info::after {
                    content: '';
                    display: block;
                    height: 1px;
                    background: #134134;
                    margin: 16px 0 12px;
                }
            }
            &-prices {
                display: flex;
                align-items: center;
                flex-direction: row;
                gap: 10px;
            }
            &_btn {
                padding: 32px 18px 32px 19px;
            }
        }
    }
}

.square {
    position: relative;
    &-left {
        position: inherit;
        top: 21px;
        left: -46px;
    }
    &-right {
        position: inherit;
        top: 0;
        left: 510px;
    }
}

.testimonial {
    background-color: $blue-light;
    &-wrapper {
        padding: 99px 0;
    }
    &-subtitle {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        &_title {
            margin: 4px 0 40px;
        }
    }
    &-items {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    &-item {
        background-color: #fff;
        max-width: 600px;
        padding: 30px 33px 47px 25px;
        &:last-child {
            max-width: 576px;
            padding: 30px 33px 70px 25px;
        }
        &_text {
            font-size: 19px;
            max-width: 523px;
            &:last-child {
                max-width: 475px;
            }
        }
        &_customer {
            background-color: $blue-dark;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px 20px 30px 26px;
            &-left, &-right {
                display: flex;
                gap: 20px;
            }
        }
        &_name {
            font-size: 20px;
            color: #fff;
        }
        &_country {
            font-size: 14px;
            line-height: 1.5;
            letter-spacing: 0.42px;
            color: #fff;
            margin-top: 7px;
        }
    }
}

.content {
    display: flex;
    gap: 15px;
}

.advantages {
    &-wrapper {
        padding-top: 99px;
    }
    &-subtitle {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 70px;
    }
    &-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &-item {
        max-width: 369px;
        margin-bottom: 49px;
    }
}

.box {
    border: 2px solid $blue;
    width: 94px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
    &-internal {
        background-color: $blue;
        height: 84px;
        width: 84px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.discount {
    background-color: $blue-light;
    &-wrapper {
        padding: 178px 0;
    }
    &-box {
        display: flex;
        justify-content: space-between;
    }
    &-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 70px 50px 0;
        background-color: #fff;
        &_input {
            height: 65px;
            width: 455px;
            border: 2px solid $blue;
            color: $blue;
            font-family: $manrope;
            font-size: 18px;
            padding-left: 41px;
            &-comment {
                height: 130px;
                border: 2px solid $blue;
                color: $blue;
                font-family: $manrope;
                font-size: 18px;
                padding-left: 41px;
                &::placeholder {
                    font-family: $manrope;
                    color: $blue;
                    margin-left: 40px;
                }
            }
            &::placeholder {
                font-family: $manrope;
                color: $blue;
                margin-left: 40px;
            }
        }
        &_btn {
            height: 65px;
            width: 455px;
            margin-bottom: 65px;
        }
    }
    &-subtitle {
        &_title {
            max-width: 445px;
            letter-spacing: 0.45px;
        }
        &_info {
            max-width: 541px;
        }
    }
    &-flat {
        padding-top: 95px;
        &_discount {
            display: flex;
            &-left {
                border: 2px solid $blue;
                border-right: none;
                background-color: #fff;
                padding: 33px 32px 39px 32px;
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
            &-mail, &-call {
                display: flex;
                gap: 20px;
                &_info {
                    color: $black;
                    font-size: 14px;
                    &-text {
                        letter-spacing: 1.2px;
                        font-size: 15px;
                        color: $black;
                    }
                }
            }
            &-right {
                background-color: $blue-dark;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 22px 25px 24px 25px;
                &_subtitle {
                    color: #fff;
                    line-height: 1.5;
                    letter-spacing: 1.5px;
                    font-size: 15px;
                    text-transform: uppercase;
                }
                &_percent {
                    font-family: $manrope;
                    font-size: 65px;
                    letter-spacing: 0.78px;
                    color: #fff;
                }
                &_text {
                    letter-spacing: 1.8px;
                    line-height: 1.5;
                    color: #fff;
                }
            }
        }
    }
}

.name, .email, .number, .text, .comment {
    &-icon {
        position: relative;
        &::before {
            content: '';
            background-image: url(../assets/icon/person.svg);
            width: 41px;
            height: 47px;
            position: absolute;
            top: -85px;
        }
    }
}
.email {
    &-icon {
        &::before {
            background-image: url(../assets/icon/email.svg);
        }
    }
}
.number {
    &-icon {
        &::before {
            background-image: url(../assets/icon/phone.svg);
        }
    }
}
.text {
    &-icon {
        &::before {
            background-image: url(../assets/icon/book.svg);
        }
    }
}
.comment {
    &-icon {
        &::before {
            background-image: url(../assets/icon/comment.svg);
            top: -150px;
        }
    }
}
.dots {
    display: flex;
    gap: 6px;
    padding-top: 9px;
    &-dot {
        background-color: $blue;
        height: 6px;
        width: 6px;
        border-radius: 50%;
    }
}

.ourblog {
    &-wrapper {
        padding-top: 102px;
    }
    &-subtitle {
        text-align: center;
        padding-bottom: 66px;
    }
    &-items {
        padding-bottom: 12px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    &-item {
        background-color: $blue-light;
        &_title {
            letter-spacing: 0.44px;
            line-height: 1.4;
            margin: 15px auto 14px;
        }
        &_text {
            letter-spacing: 0.36px;
            line-height: 1.5;
            max-width: 327px;
        }
        &_box {
            padding: 29px 24px 34px 26px;
            &-subtitle {
                display: flex;
                gap: 54px;
            }
        }
        &_date {
            font-size: 13px;
            color: $blue;
        }
        &_name {
            font-size: 13px;
            color: $blue;
            &::before {
                content: '';
                position: absolute;
                background: $black;
                height: 4px;
                width: 30px;
                margin: 8px -42px;
            }
        }
    }
    &-btn {
        margin: 12px 480px 110px 480px;
    }
}

.drafted {
    background-color: $black-total;
    text-align: center;
    padding: 19px 0 20px;
    &-by {
        color: #fff;
        font-size: 15px;
        line-height: 1.5;
        letter-spacing: 0.15px;
    }
}
.info {
    background-color: $blue-dark;
    padding-top: 70px;
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        padding-bottom: 43px;
    }
    &-social {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        &_logo {
            cursor: pointer;
        }
        &_rectangle {
            height: 55px;
            width: 55px;
            border: 2px solid $blue;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &-items {
        padding: 60px 0 60px;
        display: flex;
        justify-content: space-between;
    }
    &-item {
        &_menu {
            color: #fff;
            margin-bottom: 27px;
            letter-spacing: 0.352px;
            line-height: 1.4;
        }
        &_title {
            min-width: 73px;
            color: #fff;
            font-size: 17px;
            line-height: 1.5;
            margin-bottom: 9px;
            &-keep {
                color: #fff;
                font-size: 17px;
                line-height: 1.5;
                max-width: 215px;
                margin-bottom: 27px;
            }
        }
        &_box {
            display: flex;
            gap: 30px;
        }
    }
}